.container {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-weight: 900;
  color: white;
}

.buttonsi{
  margin-bottom: 15px;
}