.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  margin-left: auto;
}
.header {
    position: sticky;
    top: 0;
    background-color: #b4e4ff;
    color: white;
    transition: box-shadow 150ms ease;
  
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: rem(1px) solid
        light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
    }
  }
  .body {
    background-color: #f2f2f2;
  }
  .productImage {
    max-width: 50px;
    max-height: 50px;
    border-radius: 5px;
  }
  .actionContainer {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .deleteButton {
    background-color: red;
  }
  .scrolled {
    box-shadow: var(--mantine-shadow-sm);
  }