.cardContainer {
  margin: 10px;
  width: 1200px; /* Lebar kartu diperbesar */
  position: relative; /* Menjadikan posisi relatif untuk menentukan posisi absolut tombol */
}

.card {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Padding diperbesar untuk memberikan lebih banyak ruang di sekitar konten */
}

.contentContainer {
  display: flex;
  align-items: center;
}

.image {
  width: 200px; /* Ukuran gambar diperbesar */
  height: 200px; /* Ukuran gambar diperbesar */
  margin-right: 20px; /* Margin diperbesar */
}

.textContainer {
  flex-grow: 1;
}

.name {
  font-size: 28px;
  font-weight: 700;
}

.detail {
  font-size: 22px; /* Ukuran teks detail diperbesar */
}

.harga {
  font-size: 16px;
  font-weight: 700;
  color: #007bff;
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Memusatkan elemen horizontal */
  align-items: center; /* Memusatkan elemen vertical */
  height: 100vh; /* Menetapkan tinggi elemen ke tinggi viewport */
}

.priceContainer {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.priceLabel {
  font-weight: 600;
  font-size: 18px; /* Ukuran teks label harga diperbesar */
  color: #6c757d;
}

.addToCartContainer {
  position: absolute;
  bottom: 0px;
  right: 0;
  margin: 10px; /* Atur margin sesuai keinginan Anda */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 40px; /* Sesuaikan padding untuk memperbesar popup */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 999; /* Pastikan popup muncul di atas elemen lain */
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
}