.header {
  width: 100%;
  position: fixed;
  top: 0; /* Tambahkan top: 0 untuk memastikan navbar menempel di bagian atas */
  z-index: 1;
  height: rem(60px);
  background-color: white;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

  .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .content {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    margin-right: calc(var(--mantine-spacing-xl) * 3);
    margin-top: 75px;
  
    @media (max-width: $mantine-breakpoint-md) {
      margin-right: 0;
    }
  } 

  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);
  
    @media (max-width: $mantine-breakpoint-sm) {
      display: block;
      height: rem(42px);
      width: 100%;
      text-align: center;
    }
  
    .navLinks {
      @media (max-width: $mantine-breakpoint-sm) {
        display: none;
      }
    }
    
    .buttonGroup {
      display: flex;
    
      @media (max-width: $mantine-breakpoint-sm) {
        justify-content: flex-end;
        width: 100%;
      }
    }
    
    .buttonGroup > * {
      margin-left: var(--mantine-spacing-md);
    }
    
    
  }